<!doctype html>
<html lang="hu">
    <head>
        <title>{{ui_strings.title}}</title>
        <meta charset="utf-8">
        <script>
        function change() {

            var text = document
                .getElementById("guessed_word").value;
            var wordLength = {{- word_length -}} - text.length;

            var butt = document.getElementById("guess");
            if (! butt.disabled)
                butt.textContent = "{{ ui_strings.guess }} (" + wordLength + ")";
                butt.value = "{{ ui_strings.guess }} (" + wordLength + ")";
        }
    </script>
    </head>
    <body>
        {% with messages = get_flashed_messages() -%}
        <div style="width: 100%; text-align: center; margin-left: auto; margin-right: auto;">
            <ul>
            {%- if messages -%}
            {%- for message in messages %}
                <li style="text-align: center; display: block;">{{ message }}</li>
            {%- endfor %}
            {% else %}
                <li style="text-align: center; display: block;">&nbsp;</li>
            {% endif -%}
            </ul>
        </div>
        <br>
        {% endwith -%}
        <form action="" method="get">
            <div style="overflow:hidden; width: 100%; display:table;">
                <div style="text-align: left; display:table-cell; width: 15%;">
                {% if previous_guesses|length > 0 -%}
                    {{ ui_strings.previous_guesses }}:
                    {%- for word, similarity in previous_guesses %}
                    <input type="hidden" name="previous_guesses[]" value="{{ word }}">
                    {%- endfor %}
                    <ul>
                        {%- for word, similarity in previous_guesses %}
                        {%- if similarity|length > 0 -%}
                        <li style="text-align: left; display: block; background-color: #FFFFFF;">{{ word }} ({{ similarity }})</li>
                        {%- else -%}
                        <li style="text-align: left; display: block; background-color: #FFFFFF;">{{ word }}</li>
                        {%- endif -%}
                        {%- endfor %}
                    </ul>
                {% endif -%}
                </div>
                <div style="text-align: center; overflow: hidden; display:table-cell; width: 60%;">
                    <label for="guessed_word">Tipp: </label><input autofocus onchange="change();" onkeypress="change();" onpaste="change();" oninput="change();" type="text" name="guessed_word" id="guessed_word" {% if not buttons_enabled.guess %}disabled{%endif%}>
                    <input type="submit" name="guess" id="guess" value="{{ ui_strings.guess }} {{ word_length_str }}" {% if not buttons_enabled.guess %}disabled{%endif%}>
                    <input type="submit" name="next_line" value="{{ ui_strings.next_line }}" {% if not buttons_enabled.next_line %}disabled{%endif%}>
                    <br><br>
                    <input type="submit" name="give_up" value="{{ ui_strings.give_up }}" {% if not buttons_enabled.give_up %}disabled{%endif%}>
                    <input type="submit" name="new_game" value="{{ ui_strings.new_game }}" {% if not buttons_enabled.new_game %}disabled{%endif%}>
                    <input type="submit" name="new_game_vs_other" value="{{ ui_strings.new_game_vs_other }}" {% if not buttons_enabled.new_game_vs_other %}disabled{%endif%}>
                    <br><br>
                    {%- for line_id, pre, word, post in displayed_lines %}
                    <input type="hidden" name="displayed_lines[]" value="{{ line_id }}">
                    {%- endfor %}
                    <table style="border-collapse: collapse; border-spacing: 0; margin-left: auto; margin-right: auto;">
                        <tbody>
                            {%- for line_id, left, word, right in displayed_lines %}
                            <tr>
                                <td style="border-width:0px; text-align: right;">...{{ left }}</td>
                                <td style="border-width:0px; text-align: center;"> <strong>{{ word }}</strong> </td>
                                <td style="border-width:0px; text-align: left;">{{ right }}...</td>
                            </tr>
                            {%- endfor %}
                        </tbody>
                    </table>
                </div>
                <div style="text-align: left; display:table-cell; width: 15%;">
                <input type="hidden" name="other_guess_state" value="{{ other_guess_state }}">
                {% if previous_guesses_other|length > 0 -%}
                    {{ ui_strings.previous_guesses_other }}:
                    {%- for word, similarity in previous_guesses_other %}
                    <input type="hidden" name="previous_guesses_other[]" value="{{ word }}">
                    {%- endfor %}
                    <ul>
                        {%- for word, similarity in previous_guesses_other %}
                        <li style="text-align: left; display: block; background-color: #FFFFFF;">{{ word }} ({{ similarity }})</li>
                        {%- endfor %}
                    </ul>
                {% endif -%}
                </div>
            </div>
        </form>
        <div style="width: 100%;">
           <hr>
            {{ ui_strings.footer|safe }}
        </div>
    </body>
</html>
